<button class="scrollToTop" *ngIf="isShow" (click)="gotoTop()">
  <i class="fa fa-angle-up"></i>
</button>
<ngx-spinner
  bdColor="rgba(255, 255, 255)"
  template="<img src='https://icons8.com/preloaders/preloaders/1490/Rhombus.gif' />"
  style="z-index: 99999999999 !important;"
>
</ngx-spinner>

<app-header></app-header>

<main>
  <div class="container-fluid p-0 m-0">
    <div id="carouselId" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselId" data-slide-to="0" class="active"></li>
        <li data-target="#carouselId" data-slide-to="1"></li>
        <li data-target="#carouselId" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active position-relative">
          <img [src]="home1" class="d-block w-100 h-75" alt="First slide">
          <div class="carousel-caption d-none d-md-block position-absolute banner-carousel-2" style="top: 28%;">
            <div class="text-banner" style="
            color: #333;
            background-color: rgba(255, 255, 255, 0.5);
            width: 60%;
            padding: 63px 0;
            text-align: center;
            margin: auto;
            text-transform: uppercase;
            ">
              <h2>Get Trendy Items To</h2>
              <h2>Upgrade Style</h2>
            </div>
            <div class="btn-banner text-center mt-5">
              <a routerLink="/home/shop" class="btn-women" style="
              text-decoration: none;
              color:#fff;
              background: #8F6B6C;
              transition: all .4s;
              padding: 10px 35px;
              margin-right: 27px;
              ">WOMEN'S</a>
              <a routerLink="/home/shop" class="btn-men" style="
              text-decoration: none;
              color:#333;
              background: #fff;
              transition: all .4s;
              padding: 10px 35px;
              ">MEN'S</a>
            </div>
          </div>
        </div>
        <div class="carousel-item position-relative">
          <img [src]="home2" class="d-block w-100 h-75" alt="First slide">
          <div class="carousel-caption d-none d-md-block position-absolute banner-carousel-2" style="top: 28%;">
            <div class="text-banner" style="
            color: #333;
            background-color: rgba(255, 255, 255, 0.5);
            width: 60%;
            padding: 63px 0;
            text-align: center;
            margin: auto;
            text-transform: uppercase;
            ">
              <h2>Get Trendy Items To</h2>
              <h2>Upgrade Style</h2>
            </div>
            <div class="btn-banner text-center mt-5">
              <a routerLink="/home/shop" class="btn-women" style="
              text-decoration: none;
              color:#fff;
              background: #8F6B6C;
              transition: all .4s;
              padding: 10px 35px;
              margin-right: 27px;
              ">WOMEN'S</a>
              <a routerLink="/home/shop" class="btn-men" style="
              text-decoration: none;
              color:#333;
              background: #fff;
              transition: all .4s;
              padding: 10px 35px;
              ">MEN'S</a>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="container-fluid p-cus">
    <h2 class="heading trending">
      <span>Trending</span> Collections
    </h2>
    <div class="row align-items-end">
      <!--start main card-->
      <div class="col-md-4 col-sm-12" *ngFor="let item of cardTrending">
        <div class="card-trending card__three">
          <figure class="card__img">
            <a routerLink="/home/shop">
              <img class="w-100 h-100" src="{{item.src}}" alt="{{item.alt}}" />
              <div class="card__desc">{{item.desc}}</div>
            </a>
          </figure>
        </div>
      </div>
      <!-- end main card -->
    </div>
  </div>

  <div class="container-fluid p-cus">
    <h2 class="heading">
      <span>BEST SELLING</span> PRODUCTS
    </h2>
    <div class="row">
      <div class="col-md-3" *ngFor="let item of products | paginate:{itemsPerPage: 9, currentPage:page}">
        <div class="card text-center border-0 position-relative">
          <div class="show">
            <div class="hide-cus">
              <div class="icon-heart position-absolute">
                <a (click)="onFavorite(item.id)">
                  <img src="https://mg-fashion.mgtechnologies.co.in/assets/images/heart-icon.svg" alt="">
                </a>
              </div>
              <div class="btn-add sale position-absolute">
                <a (click)="onAddToCart(item)">Add To Bag</a>
              </div>
            </div>
            <a routerLink="/home/shop">
              <img class="card-img-top img-product" src="{{item.image}}" alt="">
            </a>
          </div>
          <div class="card-body">
            <a routerLink="/home/shop" class="card-title">{{item.name}}</a>
            <div class="price d-flex justify-content-center">
              <p class="card-text mr-3">{{item.sale_price | currency:"USD":"symbol":"0.0"}}</p>
              <p class="text-decoration-line-through">{{item.price | currency:"USD":"symbol":"0.0"}}</p>
            </div>
          </div>
        </div>
      </div>
      <pagination-controls class="text-center mt-3" (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
  <div class="container-fluid p-cus">
    <div class="banner-sale-1">
      <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let item of bannerOne">
          <div class="position-relative">
            <a routerLink="/home/shop" class="banner-info">
              <div class="banner-img">
                <img class="w-100" src="{{item.src}}" alt="{{item.alt}}">
              </div>
              <div class="banner-title position-absolute">
                <div class="banner-heading">{{item.headingT}}</div>
                <div class="banner-heading">{{item.headingB}}</div>
                <div class="banner-sale_price">{{item.priceSale}}</div>
                <div class="banner-text">{{item.text}}</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid p-cus">
    <h2 class="heading">
      <span>BEST FOR</span> MEN'S
    </h2>
    <div class="row">
      <div class="col-md-3" *ngFor="let item of mens | paginate:{itemsPerPage: 4, currentPage:page}">
        <div class="card text-center border-0 position-relative">
          <div class="show">
            <div class="hide-cus">
              <div class="icon-heart position-absolute">
                <a (click)="onFavorite(item.id)">
                  <img src="https://mg-fashion.mgtechnologies.co.in/assets/images/heart-icon.svg" alt="">
                </a>
              </div>
              <div class="btn-add position-absolute">
                <a (click)="onAddToCart(item)">Add To Bag</a>
              </div>
            </div>
            <a routerLink="/home/shop">
              <img class="card-img-top img-product" src="{{item.image}}" alt="">
            </a>
          </div>
          <div class="card-body">
            <a routerLink="/home/shop" class="card-title">{{item.name}}</a>
            <p class="card-text">{{item.price | currency:"USD":"symbol":"0.0"}}</p>
          </div>
        </div>
      </div>
      <pagination-controls class="text-center mt-3" (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
  <div class="container-fluid p-cus">
    <div class="banner-sale-2 position-relative">
      <div class="banner-img">
        <img class="w-100" src="../../assets/images/banner2.jpg" alt="banner2">
      </div>
      <div class="banner-title position-absolute">
        <div class="subheading">Deal of the Day</div>
        <div class="heading">Hurry up!</div>
        <div class="salePrice">35% Off</div>
        <div class="text">A great choice of Accessories</div>
        <div class="btn-banner">
          <a routerLink="/home/shop">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid p-cus">
    <h2 class="heading">
      TRENDING ACCESSORIES
    </h2>
    <div class="row">
      <div class="col-md-3" *ngFor="let item of mens | paginate:{itemsPerPage: 4, currentPage:page}">
        <div class="card text-center border-0 position-relative">
          <div class="show">
            <div class="hide-cus">
              <div class="icon-heart position-absolute">
                <a (click)="onFavorite(item.id)">
                  <img src="https://mg-fashion.mgtechnologies.co.in/assets/images/heart-icon.svg" alt="">
                </a>
              </div>
              <div class="btn-add position-absolute">
                <a (click)="onAddToCart(item)">Add To Bag</a>
              </div>
            </div>
            <a routerLink="/home/shop">
              <img class="card-img-top img-product" src="{{item.image}}" alt="">
            </a>
          </div>
          <div class="card-body">
            <a routerLink="/home/shop" class="card-title">{{item.name}}</a>
            <p class="card-text">{{item.price | currency:"USD":"symbol":"0.0"}}</p>
          </div>
        </div>
      </div>
      <pagination-controls class="text-center mt-3" (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
  <div class="container-fluid p-cus ">
    <h2 class="heading">
      OUR BLOGS
    </h2>
    <div class="row our-blog">
      <div class="col-md-4" *ngFor="let item of blogs">
        <div class="card card-blog">
          <a routerLink="/home/blog">
            <img src="{{item.src}}" alt="image">
          </a>
        </div>
        <div class="title-blog">
          <a routerLink="/home/blog">
            {{item.title}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid p-cus">
    <div class="shipping_inner row justify-content-between align-items-center">
      <div class="single_shipping d-flex justify-content-center align-items-center col-md-3 col-sm-6">
        <div class="shipping_icon">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </div>
        <div class="shipping_text">
          <h3>Free Shipping</h3>
          <p>Orders over $100</p>
        </div>
      </div>
      <div class="single_shipping d-flex justify-content-center align-items-center col-md-3 col-sm-6">
        <div class="shipping_icon">
          <i class="fa fa-rotate-right"></i>
        </div>
        <div class="shipping_text">
          <h3>Free Returns</h3>
          <p>Within 30 days</p>
        </div>
      </div>
      <div class="single_shipping d-flex justify-content-center align-items-center col-md-3 col-sm-6">
        <div class="shipping_icon">
          <i class="fa fa-lock"></i>
        </div>
        <div class="shipping_text">
          <h3>100% Payment Secure</h3>
          <p>Payment Online/p>
        </div>
      </div>
      <div class="single_shipping d-flex justify-content-center align-items-center col-md-3 col-sm-6">
        <div class="shipping_icon">
          <i class="fa fa-tag"></i>
        </div>
        <div class="shipping_text">
          <h3>Affordable Price</h3>
          <p>Guaranteed</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid p-0 overflow-hidden">
    <div class="row">
      <div class="instagram-custom-col" *ngFor="let item of instagram">
        <div class="instagram-item">
          <a routerLink="/home/blog" class="instagram-img"><img class="w-100" src="{{item.src}}" alt="{{item.alt}}"></a>
        </div>
      </div>
    </div>
  </div>

</main>

<app-footer></app-footer>
