$main-color: #8f6b6c;

//home page
$color-bg: #f8f8f8;
$card-padding: 15px;
$grid-gutter: 31px;

// home page - Media Queries breakpoints
$small: 480px;
$medium: 768px;
$large: 992px;
$x-large: 1200px;


//page contact user
$drawer-width: 180px;
$drawer-height: 60px;
$drawer-color: #2196f3;
$drawer-open-transition: all cubic-bezier(0.92, -0.15, 0.21, 0.86) 0.25s;


// blog
$border-015: rgba(112, 112, 112, 0.15);
$border-05: rgba(112, 112, 112, 0.5);
